.body {
  background-color: rgba(5, 5, 5, 0.5);
}

.container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 80vh;
  margin: auto;
  padding: 3rem;
  align-items: right;
  justify-content: flex-end;
  background-color: rgba(241, 207, 207, 0.8);
}

.display, .output{
  width: 100%;
}

.chatBubble {
  background-color: rgba(101, 98, 233, 0.7);
  display: inline-flex;
  justify-content: right;
  width: 80%;
}

.chatbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 50vw;
  height: 10rem;
}

.form-wrapper {
  width: 100%;
}

.form-control {
  height: 100%;
  width: 100%;
  align-items: center;
}

#formInput {
  height: 55%;
  width: 85%;
}

#submitBtn {
  height: 60%;
  width: 10%;
}

.deleteBtns {
  height: 1rem;
  align-items: center;
}